.image {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/tom-ritson-DBYV_V5spes-unsplash.webp);
    background-size: cover;
    z-index: -2;
}

.filterBlack {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
}

.about-me {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 0;
}

.information {
    padding: 0 2rem;
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    margin: 0 2rem;
}

.profile-image {
    width: 100%;
    max-width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .about-me {
        flex-direction: column-reverse;
    }

    .profile-image {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

.btn-cv {
    background-color: #242424;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

.btn-cv:hover {
    opacity: 1;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}

.title {
    font-size: 3rem;
}

.subtitle {
    background: radial-gradient(at right center, rgb(56, 189, 248), rgb(49, 46, 129));
    background-clip: text;
    color: transparent;
    font-size: 1.7rem
}

.description {
    font-size: 1.2rem
}

@media screen and (max-width: 768px) {
    .about-me {
        justify-content: flex-end;
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .description {
        font-size: 1rem;
    }

}