.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 430px;
    padding: 0.7rem;
    background-color: #242424;
    position: fixed;
    margin-bottom: 1rem;
    bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    overflow-x: auto
}

.tooltips {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 70px;
    z-index: 2;
}

.tooltip {
    padding: 0.5rem;
    background-color: #242424;
    border-radius: 5px;
    opacity: 0;
    position: relative;
    transition: all 0.2s ease-in-out;
    user-select: none;
    font-size: 0.75rem;
}

.languages {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -50px;
    bottom: -6px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.languages-es {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -63px;
    bottom: -6px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.btn-languages {
    background-color: #242424;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 0.1rem;
    font-size: 0.75rem;
    user-select: none;
}

.languages-es .btn-languages,
.languages .btn-languages {
    user-select: none;
    cursor: default;
}

.visible .btn-languages:hover {
    cursor: pointer;
    user-select: auto;
}

.visible {
    margin-bottom: 20px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.tooltip.home-tooltip {
    left: 25px !important;
}

.tooltip.skills-tooltip {
    left: 30px !important;
}

.tooltip.projects-tooltip {
    left: 25px !important;
}

.tooltip.contact-tooltip {
    left: 12px !important;
}

.tooltip.linkedin-tooltip {
    left: -22px !important;
}

.tooltip.github-tooltip {
    left: -28px !important;
}

.tooltip.email-tooltip {
    left: -27px !important;
}


.tooltip.home-tooltip-es {
    left: 40px !important;
}

.tooltip.skills-tooltip-es {
    left: 25px !important;
}

.tooltip.projects-tooltip-es {
    left: 5px !important;
}

.tooltip.contact-tooltip-es {
    left: -8px !important;
}

.tooltip.linkedin-tooltip-es {
    left: -43px !important;
}

.tooltip.github-tooltip-es {
    left: -42px !important;
}

.tooltip.email-tooltip-es {
    left: -43px !important;
}

@media screen and (max-width: 480px) {
    .nav {
        max-width: 340px;
        bottom: 0;
    }

    .tooltip.home-tooltip {
        left: 55px !important;
    }

    .tooltip.skills-tooltip {
        left: 45px !important;
    }

    .tooltip.projects-tooltip {
        left: 35px !important;
    }

    .tooltip.contact-tooltip {
        left: 15px !important;
    }

    .tooltip.linkedin-tooltip {
        left: -30px !important;
    }

    .tooltip.github-tooltip {
        left: -48px !important;
    }

    .tooltip.email-tooltip {
        left: -55px !important;
    }

    .tooltip.home-tooltip-es {
        left: 65px !important;
    }

    .tooltip.skills-tooltip-es {
        left: 45px !important;
    }

    .tooltip.projects-tooltip-es {
        left: 17px !important;
    }

    .tooltip.contact-tooltip-es {
        left: -3px !important;
    }

    .tooltip.linkedin-tooltip-es {
        left: -45px !important;
    }

    .tooltip.github-tooltip-es {
        left: -60px !important;
    }

    .tooltip.email-tooltip-es {
        left: -69px !important;
    }
}