.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    max-width: 200px;
}

@media screen and (max-width: 768px) {
    .skill svg {
        width: 100%;
        max-width: 25px;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .skill p {
        font-size: 0.75rem;
    }
}