.category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    grid-gap: 1rem;
    margin: 0 0 1rem 0;
    background-color: #1a1919;
    padding: 1.5rem 3rem;
    border-radius: 15px;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.category:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 468px) {
    .category {
        padding: 1rem;
        filter: grayscale(0%);
        width: 100%;
        margin-bottom: 1rem;
    }

    .category h3 {
        font-size: 1rem;
    }

}